$black: #000000;
$dark: #191a20; // 제일 중요한 부분이나 타이틀에 붙는다
$primary: #3f4150; // 보통의 텍스트의 경우
$secondary: #8c8d96; // 부수적인 정보를 표시 할 때
$tertiary: #b2b3b9; // secondary 보다 덜 중요하고 단순 정보 전달
$border: #e0e2e7; // 보더 라인 그릴 때
$backgroud: #f7f8fa; // 기본 바탕생 외에 강조할 때 쓰는 바탕색
$white: #ffffff; // 바탕

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
