@import './constants/colors';
@import './constants/typography';
@import './constants/breakpoint';

@import './base/fonts';
@import './base/normalize';
@import './base/reset';

@import './mixins/responsive';
@import './layouts/grids';

@import './mixins/text-style';

@mixin test($size) {
  background-color: rebeccapurple;
  font-size: $size;
}

.test {
  @include test(2rem);
}
// 암묵적인 컨벤션

$choco: 1;
$choco-1: 1;

$CHOCO_3: 2;
$CHOCO: 2;

// scss 의 값으로 넣을 수 있는 모든 값을 할당할 수 있다.
